<div>
    <h2 style="text-align: center">
        Convert PCM Extract into SAP FORMAT
    </h2>
</div>
<div class="form-group" style="border-top: dashed 1px #ccc">
    <label for="usr" style="text-align: center">Period:</label>
    <input type="text" class="form-control" id="period">
</div>
<p style="text-align: center">
<button type="button" class="btn btn-info btn-lg" id="export">Export Cost Allocation</button>
</p>

<!--<div class="modal-backdrop fade in"  ></div>-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal title goes here</h4>
            </div>
            <div class="modal-body">
                Some text to popup
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="bs-docs-example" style="padding-bottom: 24px;">
    <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large" data-backdrop="static" >Launch demo modal</a>
</div>


<script>
    $(function(){
        $('#export').on('click', function (){
          var period = $('#period').val();
            if(!period){
                swal("Period Missing","Enter Period for Allocation Extract","info")
            } else {
                // perform extract actions
            }

        })
    });
</script>