<div>
    <h2 style="text-align: center">
        Convert PCM Extract into SAP FORMAT
    </h2>
</div>
<div class="form-group" style="border-top: dashed 1px #ccc">
    <label for="usr" style="text-align: center">Period:</label>
    <input type="text" class="form-control" id="period">
</div>
<p style="text-align: center">
<button type="button" class="btn btn-info btn-lg" id="export">Export Cost Allocation</button>
</p>
<script>
    $(function(){
        $('#export').on('click', function (){
          var period = $('#period').val();
            if(!period){
                swal("Period Missing","Enter Period for Allocation Extract","info")
            } else {
                // perform extract actions
            }

        })
    });
</script>