<div class="post">
    <div class="post-body">
        <div class="post-inner article">
            <div class="postcontent">

                <script type="text/javascript">
                    //<![CDATA[
                    Sys.WebForms.PageRequestManager._initialize('ctl00$MainContent$scriptmanager', 'ctl01', ['tctl00$MainContent$UpdatePanel1','MainContent_UpdatePanel1'], [], [], 90, 'ctl00');
                    //]]>
                </script>

                <!--<div id="MainContent_UpdatePanel1">-->

                    <!--<div id="MainContent_UpdateProgress" style="display:none;">-->

                        <!--<div id="blur">-->
                            <!--&nbsp;-->
                        <!--</div>-->
                        <!--<div id="progress">-->
                            <!--<img id="MainContent_UpdateImage" src="../images/ipi_please_wait%5B1%5D.gif" alt="Processing" align="bottom" />-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<h2>Log In-->
                    <!--</h2>-->
                    <!--<p>-->
                        <!--Please enter your username and password.-->

                    <!--</p>-->
                    <!--<div id="MainContent_LoginUserValidationSummary" class="failureNotification" style="display:none;">-->

                    <!--</div>-->
                    <!--<span id="MainContent_lblMessage"></span>-->
                    <!--<form action="/login" method="post">-->
                        <!--<div class="accountInfo">-->
                            <!--<fieldset class="login">-->
                                <!--<legend>Account Information</legend>-->
                                <!--<p>-->
                                    <!--<label for="MainContent_UserName" id="MainContent_UserNameLabel">Username:</label>-->
                                    <!--<input name="UserName" type="text" id="MainContent_UserName" class="textEntry" />-->
                                    <!--<span id="MainContent_UserNameRequired" title="User Name is required." class="failureNotification" style="visibility:hidden;">*</span>-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--<label for="MainContent_Password" id="MainContent_PasswordLabel">Password:</label>-->
                                    <!--<input name="Password" type="password" id="MainContent_Password" class="passwordEntry" />-->
                                    <!--<span id="MainContent_PasswordRequired" title="Password is required." class="failureNotification" style="visibility:hidden;">*</span>-->
                                <!--</p>-->

                            <!--</fieldset>-->
                            <!--<p class="submitButton">-->
                                <!--<input type="submit" name="LoginButton" value="Log In" id="MainContent_LoginButton" class="button" />-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</form>-->

                <!--</div>-->

                <div class="post-body">
                    <div class="post-inner article">
                        <div class="postcontent">

                            <fieldset>
                                <legend>WELCOME</legend>
                                <img src="images/banner2.jpg" alt="banner">
                            </fieldset>

                        </div>
                        <div class="cleared">
                        </div>
                    </div>
                    <div class="cleared">
                    </div>
                </div>

            </div>
            <div class="cleared">
            </div>
        </div>
        <div class="cleared">
        </div>
    </div>
</div>
<div class="cleared">
</div>