<ul class="nav nav-tabs tabs-up" id="friends">
    <li><a href="/pcm/gls" data-target="#gls" class="media_node active span" id="contacts_tab" data-toggle="tabajax" rel="tooltip"> Gl Accounts </a></li>
    <li><a href="/pcm/senders" data-target="#senders" class="media_node span" id="friends_list_tab" data-toggle="tabajax" rel="tooltip"> Senders </a></li>
    <li><a href="/pcm/assets" data-target="#receivers" class="media_node span" id="awaiting_request_tab" data-toggle="tabajax" rel="tooltip"> Receivers </a></li>
    <li><a href="/pcm/drivers" data-target="#drivers" class="media_node span" id="awaiting_request_tab" data-toggle="tabajax" rel="tooltip">Allocation Drivers</a></li>
    <li><a href="/pcm/uapcodes" data-target="#uapcodes" class="media_node span" id="awaiting_request_tab" data-toggle="tabajax" rel="tooltip">UAP CODES</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="gls">

    </div>
    <div class="tab-pane" id="senders">

    </div>
    <div class="tab-pane  urlbox span8" id="receivers">

    </div>

    <div class="tab-pane  urlbox span8" id="drivers">

    </div>
    <div class="tab-pane  urlbox span8" id="uapcodes">

    </div>
</div>

<div style="text-align: center; margin-top: 80px">
    <h3>Select a any tab to view the Object</h3>
</div>



<script>
    $('[data-toggle="tabajax"]').click(function(e) {
        //e.preventDefault();
        var $this = $(this),
                loadurl = $this.attr('href'),
                targ = $this.attr('data-target');
                title = targ.replace("#", '');
        $.get(loadurl, function(res) {
            if(res){
                var data = res.data;
                var html = "<div><h1 style='text-align: center'>" + title  + "</h1></div>";
                html += '<table class="dispaly dataTable"> <thead><tr><th>Name</th></tr></thead><tfoot><tr><th>Name</th></tr></tfoot><tbody>';
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    html += "<tr>";
                    console.log(item);
                    html += "<td>" + item.NAME + "</td>";
                    html += "</tr>";

                }
                html += '</tbody></table>';
                $(targ).html(html);
                var table = $('.dataTable').DataTable();
            }
        });
        $this.tab('show');
        return false;
    });
</script>